.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card > img {
  width: 100%;
}
.search-container {
  display: flex;
  justify-content: center;
}

.search-btn {
  margin: 0 5px;
}

.banner {
  background-color: #171a29;
  color: #fff;
  height: 245px;
}

.banner > img {
  height: 165px;
  position: absolute;
  top: 0;
}

.element {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.element > img {
  width: 200px;
  height: 200px;
}

.color {
  display: flex;
  justify-content: space-around;
  background-color: #171a29;
  color: white;
  margin-top: 10px;
}
